{% extends "base.html" %}
{% block content %}
<h1>Добро пожаловать!</h1>
<p>Это веб-приложение на Flask. Здесь используется:</p>
<ul>
  <li>Фреймворк Flask</li>
  <li>Шаблоны Jinja2</li>
  <li>База данных SQLite через SQLAlchemy</li>
  <li>Хеширование паролей и проверка существующих пользователей</li>
</ul>
<p>Возможные действия:</p>
<ul>
<li>Регистрация</li>
<li>Вход в аккаунт</li>
<li>Выход из аккаунта</li>
<p>ну да это всё</p>
</ul>

<p>Попробуйте зарегистрироваться и/или войти, что бы попасть в Личный кабинет</p>


<img src="{{ url_for('static', filename='img/logo.png') }}" alt="Логотип" height="150">
{% endblock %}
